.nav-mobile {
    display: none;
    width: 253px;
    overflow: auto;

    background-color: $white;

    position: fixed;
    top: 175px;
    left: 0;
    z-index: 1002;

    transform: translateX(-100%);
    transition: transform .3s linear;

    &.show {
        box-shadow: 8px 23px 20px 3px rgba(0,0,0,.2);
        transform: translateX(0);
    }

    @media ( max-width: 991px ) {
        display: block;
        height: calc(100% - 68px);

        top: 68px;
    }
}

.header.fixed + .nav-mobile {

    @media ( max-width: 991px ) {
        height: calc(100% - 49px);
        top: 49px;
    }
}

.nav-mobile__list-item {
    position: relative;
}

.nav-mobile__link {
    display: block;
    padding: 35px 10px 0 53px;

    border-bottom: 1px solid rgba($black, .1);

    font-size: 20px;
    line-height: 24px;

    transition: text-shadow .3s;

    &:hover {
        text-shadow: 0 0 .65px $color-main;
    }
}

.nav-mobile__img {
    position: absolute;
    left: 10px;
    bottom: 0;
    z-index: 1;
}

.nav-mobile__address-link {
    display: block;
    padding: 65px 10px 25px 35px;

    font-weight: 700;
}
