$color-main: #2F3035;
$color-accent: #1C62CD;
$color-base: #F0F0F4;
$white: #fff;
$black: #000;
$gray: #CDCDCD;
$gray-light:#C4C4C4;
$gray-lightest:#E0E0E0;
$gray-dark: #48494D;
$red: #b20000;

$base-font-size: 20px;
$border-radius: 3px;
